@font-face { font-family: space-grotesk; src: url('../fontovi/SpaceGrotesk-Medium.otf'); }

* {
    font-family: space-grotesk;
    color: white;
} 

body {
	background-color: black;
}

#glavno {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sadrzaj1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}

#slike{
    display: flex;
    flex-direction: row;
}

#slike img {
    width: 50%;
}


#sadrzaj2 {
    position: static;
}

#sadrzaj1 img{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#sadrzaj1 h1{
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20vh;
    text-align: center;
}
