
@font-face { font-family: space-grotesk; src: url('../fontovi/SpaceGrotesk-Medium.otf'); }

* {
    font-family: space-grotesk;
    color: white;
} 

body {
	background-color: black;
}

#sadrzaj1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#sadrzaj1 img{
    height: 70vh
}

#sadrzaj1 h1{
    font-size: 10vh;
    padding: 0px;
    margin: 0px;
}
#sadrzaj1 p{
    text-align: center;
    margin: 0;
    padding: 0;
}

table {
        border-collapse: collapse;
        width: 100%;
    }

th, td {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}

th {
    background-color: gray;
    }

